DEBUG=True
SECRET_KEY=your-django-secret-key
DB_NAME=unitus_db
DB_HOST=localhost
DB_PORT=3306

DB_ADMIN_USER=db_admin
DB_ADMIN_PASSWORD=YourAdminSecurePassword2026!

DB_APP_USER=app_backend
DB_APP_PASSWORD=YourAppSecurePassword2026!