<!-- safhe asli (landing)-->
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>Unitas - Home</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="index.html" class="active">Home</a>
      <a href="auth.html">Auth</a>
      <a href="dashboard.html">Dashboard</a>
      <a href="settings.html">Settings</a>
    </nav>
    <h1>Home</h1>
    <input type="text" id="searchInput" placeholder="جستجوی پروژه...">
    <button onclick="alert('جستجو در دیتابیس...')">جستجو</button>
  </div>
</body>
</html>
