{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unitas - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <main class="auth-container">
            
            {% if messages %}
                <div class="messages-container" style="margin-bottom: 20px; color: red;">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">- {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- (Login) -->
            <section class="login-form">
                <h2>Login</h2>
                <form method="POST" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <input type="text" name="identifier" placeholder="Username or Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
            </section>

            
            <div class="auth-switch" style="margin-top: 20px; text-align: center;">
                <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register</a></p>
            </div>
        </main>
    </div>
</body>
</html>